<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RoboticArmService.Properties.ServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <RoboticArmService.Properties.ServiceSettings>
            <setting name="Ip" serializeAs="String">
                <value>192.168.225.69:9090</value>
            </setting>
            <setting name="ArmMovementInfoTopic" serializeAs="String">
                <value>arm_trajectory</value>
            </setting>
            <setting name="ArmCommandTopic" serializeAs="String">
                <value>arm_status</value>
            </setting>
            <setting name="ArmAckTopic" serializeAs="String">
                <value>arm_ack</value>
            </setting>
            <setting name="ArmPathInfoService" serializeAs="String">
                <value>path_service</value>
            </setting>
            <setting name="HomeX" serializeAs="String">
                <value>-481.687</value>
            </setting>
            <setting name="HomeY" serializeAs="String">
                <value>104.162</value>
            </setting>
            <setting name="HomeZ" serializeAs="String">
                <value>-84.058</value>
            </setting>
            <setting name="HomeU" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="HomeV" serializeAs="String">
                <value>-90</value>
            </setting>
            <setting name="HomeW" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="IsSimulatorMode" serializeAs="String">
                <value>True</value>
            </setting>
        </RoboticArmService.Properties.ServiceSettings>
    </applicationSettings>
</configuration>